aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-doc 
annotated-types 
anyio 
attrs 
brotli 
certifi 
charset-normalizer 
click 
coverage 
fastapi 
filelock 
frozenlist 
fsspec 
gevent 
geventhttpclient 
gradio 
gradio_client 
greenlet 
groovy 
grpcio 
h11 
hf-gradio 
hf-xet 
httpcore 
httpx 
huggingface_hub 
idna 
iniconfig 
intel-cmplr-lib-ur 
intel-openmp 
Jinja2 
markdown-it-py 
MarkupSafe 
mdurl 
ml_dtypes 
mpmath 
multidict 
networkx 
numpy 
opencv-python 
opencv-python-headless 
orjson 
packaging 
paho-mqtt 
pandas 
pillow 
pluggy 
propcache 
protobuf 
psutil 
psycopg2-binary 
pydantic 
pydantic_core 
pydub 
Pygments 
pymodbus==3.7.4 
pyserial 
pytest 
pytest-cov 
python-dateutil 
python-multipart 
python-rapidjson 
pytz 
PyYAML 
requests 
rich 
safehttpx 
semantic-version 
setuptools 
shellingham 
six 
starlette 
sympy 
tcmlib 
tomlkit 
torch 
torchaudio 
torchvision 
tqdm 
tritonclient 
typer 
typing-inspection 
typing_extensions 
umf 
urllib3 
uvicorn 
yarl 
zope.event 
zope.interface 
